# MongoDB
# MONGODB_URI=mongodb+srv://htung0403:TYnsBhNiqjoumn0F@am-fie.kljsi.mongodb.net/?retryWrites=true&w=majority&appName=am-fie
# MONGODB_URI=mongodb+srv://thanhhieutt7:password@cluster-mongo.58fmjxp.mongodb.net/?retryWrites=true&w=majority&appName=cluster-mongo
# MONGODB_URI = mongodb://localhost:27017/fie

DATABASE_NAME=Assets
# DATABASE_NAME=AM-FIE
# DATABASE_NAME=fie
# htung0403
# TYnsBhNiqjoumn0F

# Cấu hình cổng ứng dụng
APP_HOST=localhost
APP_PORT=8080

# JWT Secret key (sử dụng để mã hóa và giải mã token)
JWT_SECRET=SFHOvZL/0MSZK7rwXyOecK1gKhsv+I+H86BBAwbe95X2a79DKamk2SkTSRkAtuKf2rOuPuhSrt6JAr0ATne6vg==
JWT_REFRESH_SECRET = SFHOvZL/0MSZK7rwXyOecK1gKhsv+I+H86BBAwbe95X2a79DKamk2SkTSRkAtuKf2rOuPuhSrt6JAr0ATne6vg==

# # Google OAuth Client ID và Client Secret (Dùng cho đăng nhập bằng Google)
# OOGLE_CLIENT_ID=your-id
# GOOGLE_CLIENT_SECRET=your-secrect
# GOOGLE_CALLBACK_URL=http://localhost:8017/api/auth/google/callback

# Cấu hình email (nếu bạn dùng để gửi email qua SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=thanhhieutt7@gmail.com
EMAIL_PASSWORD=password

GEMINI_API_KEY=api-key
PINECONE_API_KEY=pcsk_55ABnN_GjNwQYFF7AYiDF6t4c3mQhCeKu1yAGygBoZZkzGG8qTRDuvNcfQtAKjkewdTurM
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX=amfie-google

NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

